<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bikecycle.com.bikecycle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/email" />
    <!--
         Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".loginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".esquepass"
            android:label="@string/title_activity_esquepass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".entregadorLayot"
            android:label="@string/title_activity_entregador_layot"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EntregadorLayout"
            android:label="@string/title_activity_entregador_layout" />
        <activity android:name=".altersenha" />
        <activity
            android:name=".ClienteLayout"
            android:label="@string/title_activity_cliente_layout" />
        <activity android:name=".contatarSuporte" />
        <activity android:name=".AvaliarApp"></activity>
    </application>

</manifest>